
/****** profile-page *********/

.profile_widget {
	margin-top: 20px;
	padding: 1.5rem 1.5rem;
	background: var(--first) !important;
	
	display: flex;
	align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    border-radius: 8px;
}

.wideget_user_img img {
    width: 100%;
   
}
.wideget_inner_side {
    margin-right: 10px;
    height: 100px;
    width: 100px;
    line-height: 86px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #e4dfdfb5;
}
.user_image_desc a {
   background: var(--text1) !important;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    display: inline-block;
}

.wideget_user_img {
   
    display: flex;
    align-items: center;
}

.profile_widgetdetail {
	margin-top: 20px;
    padding: 1.5rem 1.5rem;
    border-radius: 8px;
	background: var(--first) !important;
	
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

table.table.row.table-borderless.w-100.m-0.border strong {
	font-size: 14px;
}

.table td,
.table th {
	padding: 10px;

color: var(--text2);
}

.proflie_table table th,
td {
	margin: 0;
	border: none !important;
}

.proflie_table table tr {
	border: none;
}

.table tbody+tbody {
	border-top: 0px solid #dee2e6;
}
.widget_user_content h4 {
    font-size: 18px;
    text-transform: capitalize;

color: var(--text2);
}

.widget_user_content h6 {
    font-size: 14px;
    font-weight: 400;

color: var(--text2);
}

@media only screen and (max-width: 600px) {
   .profile_widget {
      flex-wrap: wrap;
   }
   .user_image_desc {
    margin-top: 9px;
}
}


/****** profile-page-end *********/

/****** edit-profile-page *********/
p.mb-1 {
    text-align: center;
  color: var(--text2);
}
.card_profile {

display: flex;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
border-radius: 8px;
background: var(--first) !important;
word-wrap: break-word;

box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
margin-bottom: 1.5rem;
width: 100%;

}

.card_profile_page {
   
    padding: 10px;
}
.user_pic_profile img {
   width: 100%;
   
}
.user_pic_profile{
  margin-right: 10px;
    height: 100px;
    width: 100px;
    line-height: 86px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #e4dfdfb5;
}

.user_pic_profile {
text-align: center;

margin:10px auto;
}

h3.username.mb-2 {
text-align: center;
font-size: 18px;
color: var(--text2);
}

p.mb-1.text-muted {
text-align: center;
color: var(--text2);
}

.profile_header {

padding: 10px;
background-color: rgba(0, 0, 0, 0.03);

}

.profile_header h4 {
font-size: 18px;
text-transform: capitalize;
margin-bottom:0px;  
color: var(--text2); 
}

.card_content_profile {
padding: 20px;
background: var(--first) !important;
}

label.form-label {
display: block;
margin-bottom: 0.375rem;
font-weight: 500;
color: var(--text2);
}

.card_profile_footer a {
background-color: #2205bf;
border-color: #2205bf;

padding: 9px;
color: #fff;
text-transform: capitalize;
display: inline-block;
border-radius: 4px;
font-size: 14px;
}

.cardproflie_form {
padding: 20px;
}

.form-group label {
font-weight: 500;
}

.profile_card_bottom a {
background-color: #2205bf;
border-color: #2205bf;

padding: 12px;
color: #fff;
text-transform: capitalize;
display: inline-block;
border-radius: 4px;
font-size: 14px;
}

.profile_card_bottom {
padding: 0px 20px 20px 20px;
}

a.cancel_data {
background: #ef4a4a;
}

.profile_card_bottom a {
background-color: #2205bf;
border-color: #2205bf;
box-shadow: 0 5px 10px rgb(34 5 191 / 30%);
padding: 10px;
color: #fff;
text-transform: capitalize;
display: inline-block;
}
.form-group label {
    font-weight: 600;
    margin-bottom: 10px;
}
.form-group.profile {
    margin-bottom: 15px;
}
.profile_card_bottom {
padding: 0px 20px 20px 20px;
}

a.cancel_data {
  background: #ef4a4a;
}

a.save_amount {
  background: #36b37e;
}



.form-group.profile {
    margin-bottom: 15px;
}

.profile_card_bottom button{
    
    box-shadow: 0 5px 10px rgb(42 101 146 / 24%);
    padding: 10px;
    border:none;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 4px;
    background: var(--text1) !important;
    font-size: 14px;
    color: #fff;
}


.card_profile_footer button {
   
    box-shadow: 0 5px 10px rgb(42 101 146 / 24%);
    padding: 9px;
    border:none;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 4px;
    background: var(--text1);
    font-size: 14px;
    color: #fff;
}

/****** edit-profile-page-end *********/


/****** payment_section *********/


.select_payment {
    margin-top: 20px;
    padding: 1.5rem 1.5rem;
   
background: var(--first) !important;
  
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
}

.select_payment select {
    width: 100%;
    padding: 9px;
    border: 1px solid #d5cece82;
    margin-bottom: 13px;
    border-radius: 4px;
}

button.select_button {
    padding: 8px;
    background-color: var(--second);
    border: none;
    border-radius: 4px;
    color: #fff;
}
a.add_account_button {
    padding: 8px;
    background: var(--second) !important;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
}

.table_detail_account {
    overflow: auto;
    white-space: nowrap;
}

/****** payment_section_end *********/

/****** fund-withdraw *********/
   .main_Withdraw{
   background-color: #fff;
   border-radius: 10px;
   
   padding: 16px 16px;
   box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 15%);
   background-image: url(<?= base_url();?>/images/logo/widthraw.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   }
   .widthraw_page_style {
   margin-top: 20px;
   padding: 1.5rem 1.5rem;
   color: var(--text2);
background: var(--first) !important;
   box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
   border-radius: 8px;
   }
   .widthraw_page_style h4 {
   font-size: 18px;
   font-weight: 500;
color: var(--text2);
   text-transform: capitalize;
   }
   .main-balance h3 {
   font-size: 24px;
   }
   .main-balance h1 {
   font-size: 32px;
   }
   .main-balance {
   display: flex;
   justify-content: space-between;
   }
   .dolo_icon span {
   width: 50px;
   height: 50px;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   font-size: 30px;
   font-weight: 700;
   }
   .main_box h4 {
   color: #fff;
   font-size: 16px;
   }
   .main_box h6 {
   color: #fff;
   font-size: 18px;
   font-weight: 600;
   }
   .main_box {
   margin-bottom: 20px;
   }
   .payout_request_widthraw {
   margin-top: 20px;
   padding: 1.5rem 1.5rem;
  color: var(--text2);
background: var(--first) !important;
   box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
   border-radius: 8px;
   }
   .payout_rquest {
   margin-bottom: 16px;
   }
   .main-balance h3 {
   font-size: 24px;
   color: #fff;
   }
   .main-balance h1 {
   font-size: 32px;
   color: #fff;
   }
   .input_data_widtr span {
   text-transform: uppercase;
   font-weight: 500;
   font-size: 14px;
   margin-bottom: 10px;
   }
   .payout_request_widthraw h4 {
   text-transform: uppercase;
   font-size: 18px;
color: var(--text2);
   }

.payout_request_payout span {
    color: var(--text2);
}
   button.submit_withrawal {
   padding: 6px 12px;
   border: none;
   background: var(--text1) !important;
   font-size: 14px;
   border-radius: 4px;
   text-transform: capitalize;
   color: #fff;
   font-weight: 500;
   }

   @media only screen and (max-width: 768px) {
      .main-balance h3{
         font-size: 18px;
      }
      .main_box h4 {
         font-size: 14px;
      }
      
    .main_box ul li {
         font-size: 16px;
    }
}


/****** fund-withdraw-end *********/


/****** fund-transactions *********/

.widthrawal_innce_report {
   background: var(--first) !important;
   
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 16px;
}

.withdrawal_ecxel input {
    background: #4241b8;
    
    border: none;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.widthrawal_innce_report ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widthrawal_innce_report ul li {
    list-style: none;
    font-size: 16px;
    border-bottom: 1px solid #dfdada61;
    padding: 7px 0px;
    text-transform: capitalize;
}
.widthrawal_innce_report_tabel {
    
color: var(--text2);
background: var(--first) !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 16px;
    overflow-y: auto;
}

.withdrawal_ecxel {
    margin-bottom: 10px;
   
}
.widthrawal_innce_report h6 {
color: var(--text2);
}

.widthrawal_innce_report ul li p {
    margin: 0;
color: var(--text2);
}

/****** fund-transactions-end *********/

/****** invest_retopup *********/

.pin_top_page_content {
   text-align: end;
   }
   .detail_topup p i {
   font-size: 14px;
   margin-right: 10px;
   }
   .form_topup {
   margin-top: 20px;
   padding: 1.5rem 1.5rem;
   background: #fff;
   border: 1px solid #eaf0f7 !important;
   box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
   border-radius: 8px;
   }
   button.user_btn_button {
   padding: 6px 12px;
   border: none;
   background: #5030ab;
   font-size: 14px;
   border-radius: 4px;
   text-transform: capitalize;
   color: #fff;
   font-weight: 500;
   }
   .detail_topup {
   padding: 16px 16px;
   border: none;
   background: var(--first) !important;
   font-size: 14px;
   border-radius: 4px;
   text-transform: capitalize;
   color: #fff;
   font-weight: 500;
   margin-top: 20px;
   }
   .detail_topup h4 {
   font-size: 20px;
   font-weight: 500;
color: var(--text2);
   text-transform: uppercase;
   }


/****** invest_retopup-end *********/


/********* report_page **********/
		
.total_report_data {
    margin-top: 20px;
    padding: 1.5rem 1.5rem;
  background: var(--first) !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
}

.total_report_data h4 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
color: var(--text2);
}

label.control-label {
    margin: 2px 0px;
}

.report_table select {
    margin-bottom: 0;
}

.report_data_new button {
    padding: 6px 10px;
    border: none;
    background-color: var(--second);
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
}
a.btn.btn-info.btn-sm{
    border: none;
    background-color: var(--second);
}

.report_data_new {
    margin-top: 25px;
}

select.form-control {
    width: 100% !important;
}

.total_number {
    margin-top: 20px;
    padding: 1.5rem 1.5rem;
    background: #fff;
    border: 1px solid #eaf0f7 !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
    text-align: center;
}
.table_report_income {
    width: 100%;
}

.table_report_income table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.total_number h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.total_number span {
    font-weight: 500;
    font-size: 14px;
}

.table_report_income table th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table_report_income {
   
    margin-top: 20px;
    padding: 1.5rem 1.5rem;
   background: var(--first) !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
}

.btn-info {
    color: #fff;
    background-color: #2a6592;
    border-color: #2a6592;
}
a.btn_refresh {
  background: var(--second) !important;
    padding: 7px 12px;
    border-radius: 4px;
    color: #fff;
  
}

@media only screen and (max-width: 768px) {
    .report_data_new {
    margin-top: 10px;
}
}
/********* report_page_end **********/


/********* news_event **********/

   .news_page {
   margin-top: 20px;
   }
   .news_page p {
   background: #fff;
   padding: 8px;
   border-radius: 5px;
   margin-top: 10px;
   font-size: 14px;
   margin-bottom: 0px;
    border: 1px solid #fff;
color:#fff;
   }
   .recent_event_deatil {
   margin-top: 20px;
   padding: 1.5rem 1.5rem;
   
color: var(--text2);

background: var(--first) !important;
   box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
   border-radius: 8px;
   }
   .recent_event_deatil h4 {
   font-size: 24px;
   text-align:center;
color: var(--text2);
   }
   .recent_event_deatil h5 {
   font-size: 14px;
color: var(--text2);
   }
   .recent_event_deatil h6 strong {
   font-size: 12px;
   color: var(--second) !important;
   }
   .recent_event_deatil h6 {
   margin-bottom: 2px;
   }
   .news_page span {
      font-size: 12px;
    color: var(--second) !important;
    font-weight: 600;
   }
   .news_page h4 {
    font-size: 12px;
    color: #5030ab;
    font-weight: 600;
    margin-bottom: 0;
}
   .recent_event_deatil p {
   background: #fff;
   padding: 10px;
   border-radius: 5px;
   margin-top: 10px;
   font-size: 14px;

   margin-bottom: 0px;
   }
   .news_page h4 {
   text-align: initial !important;
   }
   .recent_activity {
   margin-bottom: 10px;
   }
   .recent_new {
   margin-top: 20px;
   padding: 1.5rem 1.5rem;
   color: var(--text2);

background: var(--first) !important;
   box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
   border-radius: 8px;
   }
   .recent_new h4 {
   text-align: center;
color: var(--text2);
   }

/********* news_event_end **********/


/******* support_page *******/


.support_datail {
   
color: var(--text2);
background: var(--first) !important;
   
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 16px;
}

.support_datail h4 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 18px;
color: var(--text2);
}

.support_datail ul li {
    list-style: none;
    font-size: 16px;
    border-bottom: 1px solid #dfdada61;
    color: var(--text2);
    padding: 7px 0px;
    text-transform: capitalize;
}



.support_datail ul li span {
    float: right;
  
}

.urgent_email {
   
color: var(--text2);
background: var(--first) !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 16px;
}

.urgent_inner_content h4 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 18px;
color: var(--text2);
}

.urgent_inner_content ul li {
    list-style: none;
    font-size: 16px;
    border-bottom: 1px solid #dfdada61;
  color: var(--text2);
    padding: 7px 0px;
    text-transform: capitalize;
}



.recent_email_inquiry {
    
color: var(--text2);
background: var(--first) !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 16px;
}

.recent_email_inquiry ul li {
    list-style: 0;
    list-style: none;
   
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.recent_email_inquiry ul {
    padding: 0;
    margin: 0;
}

.email_inquiry i {
    width: 40px;
    background: green;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    color:#fff;
}

.email_inquiry {
    margin-right: 10px;
}
.form-group label {
    margin: 5px 0px;
    font-weight: 500;
    text-transform: capitalize;
}

.email_inquiry_text h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 3px;
    text-transform: capitalize;
color: var(--text2);
}

.email_inquiry_text p {
    font-size: 12px;
    margin-bottom: 2px;
color: var(--text2);
}
.recent_email_inquiry h4 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 18px;
color: var(--text2);
}




.total_ticket_number_emil {
    
color: var(--text2);
background: var(--first) !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 16px;
}
.total_ticket_number_emil p {
color: var(--text2);
}
.total_ticket_number_emil h4 {
color: var(--text2);
}
.email_buttons button {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--text1);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
}
.support_email_table h4 {
color: var(--text2);
}
.email_buttons {
    display: flex;
    align-items: center;
}
.support_email_table {
    
color: var(--text2);
background: var(--first) !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 16px;
    overflow: auto;
}
button.reset_cancel {
    background: #fd3550;
}
span.green_color {
    color: green;
}
.urgent_inner_content ul {
    padding: 0;
    margin: 0;
}

span.red_color {
    color: red;
}
.support_datail ul {
    padding: 0;
    margin: 0;
}
.support_tcket_data {
   
color: var(--text2);
background: var(--first) !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 16px;
}

.ticket_data_detail input {
    margin-top: 6px;
    height: 35px;
}


.tickets_buttons {
    margin-top: 10px;
display: flex;
    align-items: center;
}

.tickets_buttons button {
    background: var(--text1) !important;
    color: #fff;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 4px;

    align-content: normal;
    border: none;
    text-transform: capitalize;
}

/*********** support_pge_end *******/
/***********welcome_letter ***********/

.welcome_letter_design {
  
    background: var(--first) !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 16px;
    max-width: 800px;
    margin: auto;
}

.welcome_data_letter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome_letter_detail h2 {
    text-transform: capitalize;
    font-size: 28px;
    color: var(--black);
}

.welcome_letter_detail_personal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.welcome_letter_detail_personal ul li {
    font-size: 13px;
    color: var(--black);
}

.welcome_letter_detail_personal b {
    margin-left: 10px;
    font-size: 12px;
}

.welcome_letter_content {
    margin-top: 15px;
}

.welcome_letter_content strong {
    font-size: 14px;
    color: var(--black);
}

.welcome_letter_content p {
    font-size: 14px;
    margin-top: 10px;
    color: var(--black);
}

.welcome_letter_info h4 {
    font-size: 20px;
    margin-bottom: 4px;
    color: var(--black);
    text-transform: capitalize;
}

.welcome_letter_info h6 {
    font-size: 16px;
    color: var(--black);
     margin-bottom: 5px;
    text-transform: capitalize;
}

.welcome_letter_image img {
    width: 100px;
    border-radius: 50%;
    border: 1px solid #d2cece8c;
    padding: 5px;
}

.welcome_letter_profile {
    display: flex;
    align-items: center;
}

.welcome_letter_image {
    margin-right: 10px;
}

.welcome_letter_info p {
    color: var(--black);
    margin: 0;
}

.welcome_letter_page.detail {
    margin-top: 20px;
}

.welcome_letter_info span {
    color: var(--black);
}

@media only screen and (max-width: 768px) {
    .welcome_data_letter {
    flex-wrap: wrap;
}
.welcome_letter_detail h2 {
    font-size: 24px;
}
}

@media only screen and (max-width: 576px) {
.welcome_letter_info h4 {
    font-size: 16px;
}
.welcome_letter_info h6 {
    font-size: 14px;
}
}

/****** welcome_letter_end *********/

/******** proflie_card *******/

		
.v_card_demo {
	width: 100%;
	max-width: 350px;
	border: 1px solid #0a404c29;
	position: relative;
	overflow: hidden;
	z-index: 0;
	margin: auto;
	background: var(--first) !important;
	border-radius: 20px;
	box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.v_card_heading {
	padding: 15px 20px;
}

.v_card_heading h3 {
	font-size: 22px;
	text-align: center;
	text-transform: capitalize;
	color: var(--text2);
}

.v_card_image img {
	max-width: 100%;
	width: 124px;
	height: 124px;
	border-radius: 50%;
	border: 2px solid #D59B2D;
	margin-bottom: 5px;
	margin: auto;
}


.v_card_heading:before {
	position: absolute;
	content: "";
	background-color: var(--text1);
	height: 239px;
	width: 239px;
	top: -170px;
	right: -140px;
	border-radius: 50%;
	opacity: 1;
	transition: .7s;
	z-index: -1;
}


.v_card_content:after {
	position: absolute;
	content: "";
	background-color: var(--text1);
	height: 239px;
	width: 239px;
	bottom: -159px;
	left: -152px;
	border-radius: 50%;
	opacity: 1;
	transition: .7s;
	z-index: -1;
}

.v_card_image {
	text-align: center;
}

.v_card_inner_data {
	text-align: center;
}

.v_card_inner_data ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.v_card_inner_data {
    margin-bottom: 20px;
    margin-top: 10px;
}

.v_card_content {
	padding: 10px 20px;
}

.v_card_signature {
    text-align: end;
    padding-top: 20px;
}

.v_card_inner_data ul li h4 {
	font-size: 16px;
	margin-bottom: 0;
	color: var(--text2);
	text-transform: capitalize;
}

.v_card_inner_data ul li p {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
}

.v_card_inner_data ul li {
	font-size: 14px;
	color: var(--text2);
	
}
.v_card_signature h6 {
	color: var(--text2);
} 				
@media screen and (max-width: 576px) {
	.v_card_heading:before {
		top: -195px;
		right: -152px;
	}
	.v_card_content:after {
		bottom: -168px;
		left: -176px;
} 

.v_card_inner_data ul li {
    font-size: 13px;
}

.v_card_content {
	padding: 10px 20px;
} 				
}
        
    				/* RTL */
    				.rtl {
    					direction: rtl;
    					font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    				}
        
    				.rtl table {
    					text-align: right;
    				}
    				
    				.rtl table tr td:nth-child(2) {
    					text-align: left;
    				}
    				.text-color{
    				   
    				     color:#aa3b61;
    				}
    			/*	td.best6 {
    background: #0f143c;
    border: 2px dotted #0f143c;
}*/
	@media only screen and (max-width: 480px) {
.invoice-box1 table td{
    display: block;
}
}

/******* profile_card_end ******/


input.user_btn_button.btn-remove.detail {
    margin-top: 10px;
}

select.select_user_panel{
margin: 0px 0px 0px 0 !important;
}
input#referral_link_right {
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px !important;
}

button.data_button {
    color: #fff;
   background: var(--second) !important;
    padding: 8px;
    border-radius: 4px;
    border: none;
}